body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #FFFC00;
  padding-bottom: 120px;

  .title_header {
    font-size: 60px;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 12px;

  }

  .peopleHeader {
    width: 100%;
    object-fit: cover;
    height: 500px !important;
    border-radius: 20px;
  }

  .text_header {
    font-size: 18px;
    padding-top: 12px;
  }

  .navbar-nav {
    .nav-item {
      font-weight: bold;

      .nav-link {
        margin-right: 15px;
      }
    }
  }
}

.how_does_it_work {
  margin: 80px 0px;

  h1 {
    font-weight: 600;
    margin-bottom: 80px;
  }

  .card {
    background-color: #FFFC00;
    border: none;
    padding: 15px;
    min-height: 438px;
    border-radius: 30px !important;

    .card-title {
      margin-top: 23px;
      font-weight: 645;
      font-size: 36px;
    }

    p {
      margin-top: 25px;
      font-size: 20px;
      text-align: left;

    }
  }

  .img_woman {
    position: absolute;
    bottom: 0;
    width: 161px;
    right: 27px;
  }

  .img_cat {
    position: absolute;
    bottom: 20px;
    width: 161px;
    right: 23px;
  }

  .img_dope {
    position: absolute;
    bottom: 10px;
    width: 161px;
    right: 27px;
  }

  .img_emogi {
    position: absolute;
    bottom: 14px;
    width: 161px;
    right: 24px;

    .hand {
      width: 90px;
      margin-top: 25px;
    }

    .ball {
      margin-top: 82px;
      width: 90px;
    }
  }

  .card-participate {
    background-color: #FFFC00;
    border: none;
    padding: 15px;
    min-width: 638px;
    min-height: 130px;
    border-radius: 30px !important;
    display: flex;
    align-items: center;

    p {
      margin-left: 25px;
      font-size: 20px;
      text-align: left;

    }
  }
}

.guests {
  background-color: #FFFC00;
  padding: 80px 0px 120px 0px;
}

.sign_up {
  background-color: #000000;
  color: white;
  font-weight: 500;
  padding: 8px 15px;
  border: none;
  border-radius: 40px;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.how_does_it_work,
.how_does_it_work section {
  opacity: 0;
}

.fade-in-scroll {
  animation: fadeIn 2s ease-out;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 14px;
    .sign_up{
      margin: 17px 0px;
    }
    .card{
      margin: 10px 0px;
    }
    .card-participate{
      min-width: 100% !important;
      margin: 10px 0px;
      
    }
    br{
      display: none;
    }
    .guests{
      img{
        width: 100%;
        margin: 10px 0px;
      }
    }
  }

  .container {
    padding: 10px;
  }
}
