@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.accordion__button {
  display: block;
  padding: 25px 25px 25px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #FFFC00;
  color: black;
  text-align: left;
  border-radius: 14px;
  font-weight: 500;
}
.accordion__button::after {
  content: "▾";
  float: right;
  transform: scale(1.5);
}
.accordion__button--active {
  background: #FFFC00;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  background-color: #FFFC00;
  border-radius: 14px;
  padding: 15px 20px;
  color: black;
  margin: -35px 0 25px;
  font-weight: 500;
}

.questionnaire h1 {
  color: black;
  font-weight: 500;
  font-size: 35px;
}

header {
  background-color: #FFFC00;
  padding-bottom: 120px;
}
header .title_header {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 12px;
}
header .peopleHeader {
  width: 100%;
  object-fit: cover;
  height: 500px !important;
  border-radius: 20px;
}
header .text_header {
  font-size: 18px;
  padding-top: 12px;
}
header .navbar-nav .nav-item {
  font-weight: bold;
}
header .navbar-nav .nav-item .nav-link {
  margin-right: 15px;
}
header .navbar-nav li:after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
header .navbar-nav li:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 10%;
}

.how_does_it_work {
  margin: 80px 0px;
}
.how_does_it_work h1 {
  font-weight: 600;
  margin-bottom: 80px;
}
.how_does_it_work .card {
  background-color: #FFFC00;
  border: none;
  padding: 15px;
  min-height: 438px;
  border-radius: 30px !important;
}
.how_does_it_work .card .card-title {
  margin-top: 23px;
  font-weight: 645;
  font-size: 36px;
}
.how_does_it_work .card p {
  margin-top: 25px;
  font-size: 20px;
  text-align: left;
}
.how_does_it_work .img_woman {
  position: absolute;
  bottom: 0;
  width: 161px;
  right: 27px;
}
.how_does_it_work .img_cat {
  position: absolute;
  bottom: 20px;
  width: 161px;
  right: 23px;
}
.how_does_it_work .img_dope {
  position: absolute;
  bottom: 10px;
  width: 161px;
  right: 27px;
}
.how_does_it_work .img_emogi {
  position: absolute;
  bottom: 14px;
  width: 161px;
  right: 24px;
}
.how_does_it_work .img_emogi .hand {
  width: 90px;
  margin-top: 25px;
}
.how_does_it_work .img_emogi .ball {
  margin-top: 82px;
  width: 90px;
}
.how_does_it_work .card-participate {
  background-color: #FFFC00;
  border: none;
  padding: 15px;
  min-width: 638px;
  min-height: 130px;
  border-radius: 30px !important;
  display: flex;
  align-items: center;
}
.how_does_it_work .card-participate p {
  margin-left: 25px;
  font-size: 20px;
  text-align: left;
}

.guests {
  background-color: #FFFC00;
  padding: 80px 0px 120px 0px;
}
.guests img {
  border-radius: 18px;
  opacity: 0.9;
  filter: brightness(70%);
}
.guests .info-tutor {
  position: absolute;
  margin-top: -92px;
}
.guests .info-tutor p {
  color: white;
  margin-left: 16px;
  font-size: 14.3px;
  font-weight: 200;
}
.guests .info-tutor h3 {
  color: white;
  margin-left: 16px;
}

footer {
  background-color: #FFFC00;
  padding: 60px 0px;
}
footer ul li a {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

.sign_up {
  background-color: #000000;
  color: white;
  font-weight: 500;
  padding: 8px 15px;
  border: none;
  border-radius: 40px;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-out;
}

.how_does_it_work,
.how_does_it_work section {
  opacity: 0;
}

.fade-in-scroll {
  animation: fadeIn 2s ease-out;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  body .mt-4,
  body .adjust-mobile {
    margin: 0 !important;
  }
  body .navbar-toggler {
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
  }
  body .py-5 {
    padding: 0 !important;
  }
  body .sign_up {
    margin: 0px 0px 21px 0px;
  }
  body .card {
    margin: 10px 0px;
  }
  body .how_does_it_work h1 {
    margin: 0px !important;
  }
  body .how_does_it_work .card-participate {
    min-width: 100% !important;
    margin: 10px 0px;
    background-color: #FFFC00;
    min-height: 85px !important;
    border-radius: 13px !important;
  }
  body .how_does_it_work .card-participate p {
    font-size: 14px !important;
  }
  body br {
    display: none;
  }
  body .guests img {
    width: 100%;
    margin: 10px 0px;
  }
  .container {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
